@import "tailwindcss";

:root {
  --background: #111827;
  --foreground: #f7f6f8;
  --primary: #962ce2;
  --secondary: #2e2d2d;
  --primary-glow: rgba(150, 44, 226, 0.5);
  --card: #ffffff;
  --border: #e2e2e2;
  --text-dim: #6b7280;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-primary-glow: var(--primary-glow);
  --color-card: var(--card);
  --color-border: var(--border);
  --color-text-dim: var(--text-dim);
  --font-sans: var(--font-sans);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #050505;
    --foreground: #ffffff;
    --card: #0f0f11;
    --border: #27272a;
    --text-dim: #a1a1aa;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans)
}
